{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "targets": {
        "browsers": [ "ie >= 11", "last 2 versions" ]
      }
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-external-helpers",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-optional-chaining"
  ]
}
